
<div class="card-group mt-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/God-of-War.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">God of War</h5>
            <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis! Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/tlou.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">The Last of Us</h5>
            <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis! Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/images/fortnet.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Fortinite</h5>
            <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Quem manda na minha terra sou euzis! Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>
      </div>
